.lead {
    width: 984px;
    min-height: 1005px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

@media screen and (max-width:1024px) {
   .lead {
    width: 928px;
    min-height: 962px;
   }
}

@media screen and (max-width:768px) {
    .lead {
        width: 768px;
        min-height: 862px;
    }
 }

 @media screen and (max-width:320px) {
    .lead {
        width: 320px;
        min-height: 406px;
    }
 }