.place__url {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width:767px) {
    .place__url {
        margin: 0 auto;
        min-width: 288px;
    }
}